/* 
   SISTEMA DE IMPRESIÓN (print.css)
   --------------------------------
   Este archivo controla los estilos globales de impresión.
*/

@media print {
  @page {
    size: A4;
    margin: 10mm;
  }
  
  .no-print {
    display: none !important;
  }

  /* Evitar saltos de página feos dentro de las tarjetas */
  .no-break {
      page-break-inside: avoid !important;
  }
}
